<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Project GPT</title>
    <style>
        h1{
            color:blue;
            font-size: 50px;
        }
        h2{
            color: orange;
        }
        .color-red{
            color:red;
        }
        .bigfont{
            font-size: 60px;
        }
    </style>
 </head>
 <body>
    <h1>Page Title</h1>
    <h2>Section Title</h2>
    <h6>Smallest Heading</h6>
    <h2 class="color-red bigfont">Section Title</h2>
    <p class="color-red">This website is for projectGPT</p>
    <ul>
        <li>Item1</li>
        <li>Item2</li>
    </ul>
    <a class="mybtn" href="https://www.naver.com/">Click Me</a>
 </body>
</html>